* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container-modal-form-contact {
  .container-modal-form-contact__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #8624e1;
    margin-bottom: 1rem;
  }
  .container__maintenance__content--left__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;

    .container__maintenance__content--left__button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-transform: none;
      padding: 0.785em;
      border: none;
      border-radius: 0.5rem;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    .container__maintenance__content--left__button--whatsapp {
      background-color: #25d366;
      &:hover {
        background-color: darken(#25d366, 10%);
      }
    }

    .container__maintenance__content--left__button--form {
      background-color: #4a90e2;
      &:hover {
        background-color: darken(#4a90e2, 10%);
      }
    }
  }

  .container__maintenance__content--left__button--form__modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideDown 0.3s ease-out forwards;
    transform: translateY(-100%);
  }

  @keyframes slideDown {
    to {
      transform: translateY(0);
    }
  }

  .container__maintenance__content--left__button--form__modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 50%;
    max-width: 750px;

    .modal-content--form-icon-closed {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 25px;
      cursor: pointer;
      background-color: #f1eeee;
      color: #fa5a4e;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #bdbdbd;
        color: #ffffff;
      }
    }

    .maintenance__content--left__button--form__modal-content--terms {
      .modal-content--title-terms {
        font-size: 1.5rem;
        font-weight: 500;
        color: #333333;
      }

      .modal-content--description-terms {
        font-size: 1rem;
        text-align: justify;
        font-weight: 400;
        color: #333333;
        margin-top: 1rem;
      }

      .container-modal-content--back-to-form-button__form-terms {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem;

        .modal-content--back-to-form-button__form-terms {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.05rem;
          font-size: 1rem;
          color: #212121;
          text-decoration: underline;
          cursor: pointer;
        }

        .modal-content--back-to-form-button__form-terms::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-top: 2px solid #212121;
          border-right: 2px solid #212121;
          transform: rotate(220deg);
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .modal-content--back-to-form-button {
        background-color: #f3f4f6;
        color: #fa5a4e;
        font-weight: 500;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #e5e7eb;
        }
      }
    }

    .maintenance__content--left__button--form__modal-content--form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .modal-content--title-form {
        font-size: 1.5rem;
        font-weight: 500;
        color: #333333;
      }

      .maintenance__content--left__button--form__modal-content--form__gl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      .modal-content--form-label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;
        font-weight: 500;
        color: #212121;
      }

      .modal-content--form-label-terms {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
      }

      .modal-content--form-input[type="text"],
      .modal-content--form-input[type="email"],
      .modal-content--form-input[type="tel"],
      textarea {
        padding: 0.5rem;
        border: 1px solid #cccccc;
        border-radius: 0.25rem;
        text-align: left;
        font-weight: 400;
        color: #212121;
      }

      .modal-content--form-label {
        textarea {
          height: 42px;
          max-height: 60px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          scrollbar-width: thin;
          scrollbar-color: #888 #f1f1f1;
        }
      }

      .modal-content--form-input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .modal-content--form__link-terms {
        font-size: 0.9rem;
        color: #4a90e2;
        cursor: pointer;
        text-decoration: underline;
      }

      .modal-content--form-button-send[type="submit"] {
        padding: 0.5rem;
        border: none;
        background-color: #8624e1;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          background-color: darken(#8624e1, 10%);
        }
      }

      .modal-content--form-button-send.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      .modal-content--form-error-message {
        color: #fa5a4e;
        font-size: 0.75rem;
        font-weight: 500;
        text-align: left;
        background: #f4f5f6;
        padding: 3px;
        border-radius: 4px;
      }
    }
  }
}

//-----------------*************** Medias Queries ***************-----------------//
@media (width > 1500px) {
  .container-modal-form-contact {
    .container__maintenance__content--left__buttons {
      .container__maintenance__content--left__button {
        height: 4rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media (width < 1024px) {
  .container-modal-form-contact {
    .container__maintenance__content--left__buttons {
      .container__maintenance__content--left__button {
        height: 3.5rem;
        font-size: 1rem;
      }
    }

    .container__maintenance__content--left__button--form__modal-content {
      width: 90%;

      .maintenance__content--left__button--form__modal-content--form {
        .modal-content--form-button-send[type="submit"] {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (width < 560px) {
  .container-modal-form-contact {
    .container__maintenance__content--left__button--form__modal-content {
      height: 580px;
      overflow-y: scroll;

      .maintenance__content--left__button--form__modal-content--form {
        .modal-content--title-form {
          padding-top: 1rem;
        }

        .maintenance__content--left__button--form__modal-content--form__gl {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .maintenance__content--left__button--form__modal-content--terms {
        .container-modal-content--back-to-form-button__form-terms {
          margin-bottom: 1rem;
        }

        .modal-content--description-terms {
          font-size: 0.9rem;

          .maintenance__content--left__button--form__modal-content--form {
            .container__maintenance__content--left__buttons {
              .container__maintenance__content--left__button {
                height: 3rem;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (width < 360px) {
  .container__maintenance__content--left__button {
    height: 2.5rem;
    font-size: 0.8rem;
  }
}
